.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* logo */
.o2art-logo{
  width: 90px;
  
}
.header-user-pic{
  border-radius: 50%;
  width: 2.5rem;
  position: absolute;
  right: 130px;
}

/* login & logout button */
.login-btn,.logout-btn{
  color: #FFF;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  margin-top: -6px;
  right: 1rem;
  position: absolute;
  text-shadow: 0 0 6px  black,
               0 0 8px  black,
               0 0 2px  rgb(0, 0, 0) ;
  font-weight: 600;
  border: none;
}
.navbar-header .login-btn:hover,.logout-btn:hover{
  color: rgb(0, 0, 0);
  background-color: rgba(105, 2, 54, 0.26);
  text-shadow: 0 0 4px rgb(255, 255, 255);
  font-weight: 600;
}
.login-btn svg,.logout-btn svg{
  color: #7F004F;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.157);
}

.home-carsl-h5{
  font-size: 5rem;
  font-family: var(--FF-Bebas);
  transform: rotateX(45deg);
  transform: rotateY(45deg);

}
/* about website section */
.home-future-para{
  margin-left: 2rem;
  margin-top: 8rem;

}
.home-future-para-h3{
  font-family: var(--FF-Bebas);
  text-decoration: underline;

}
.home-future-p{
  font-family: var(--FF-Uchen);
  text-align: justify;
  width: 22rem;
}
.break-line{
  width: 80%;
}
.home-top-section{
  width: 100%;
  padding: 4rem;
  display: inline-flex;
  justify-content: center;
}
.home-title,.home-title-lastWord{
  font-size:var(--big-font-size);
  font-family: var(--FF-Roboto);
  font-weight: 700;
}
.home-title{
  margin-right: 10px;
  color: black;
}
.home-title-lastWord{
  color: var(--first-color);
  
}

.home-top-para{
  display: block;
  width: 100%;
  text-align: center;
  margin-top: -3rem;
  margin-bottom: 5rem;
}
.home-top-para p{
  color:var(--text-color);
}
.home-top-para button{
  background-color: var(--first-color);
  border: none;
}
.home-top-para button:hover{
  background-color: var(--first-color-alt);
}
.home-headings{
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  padding: 60px;
}
.home-headings h1{
  color: var(--first-color);
  font-family: var(--FF-Uchen);
  text-shadow: 0 0 4px var(--first-color-alt);
}
.home-headings p{
  color: var(--first-color-second);
  font-family: var(--FF-Rubik);
}

.home-video-section{
  display: flex;
  justify-content: center;
}
.home-video-section button{
  padding: 0;
  border: none;
  background-color: black;
  width: 80%;
  height: 30rem;
  box-shadow: 0 0 10px black;
}
.home-video-section button:hover{
  background-color: rgb(122, 122, 122);
}
.home-video-section img{
  width: 100%;
  height: 30rem;
  opacity: 40%;
}
.home-video-section svg{
  position: absolute;
  font-size: var(--big-font-size);
  left: 40rem;
  top: 71rem;
}
.home-video-modal .modal-content{
  width:120%
}
.home-artistWork-section{
  padding: 10px;
}
.home-artistWork-section .carousel-item{
  width: 83rem;
}
.home-artistWork-section .carousel-caption{
  text-shadow: 0 0 8px black;
  background-color: rgba(0, 0, 0, 0.479);
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.home-artistWork-section .carousel-img{
  height: 40rem;
  border-radius: 2rem;
  border: 2px dotted rgba(151, 151, 151, 0.349) ;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.carousel-caption{
  bottom: 245px;
  font-size: 1.3rem;
}
.home-future .row{
  margin-bottom: var(--mb-3);
}
.home-future-img{
  border-radius: 10px;
  perspective: 100px;
  box-shadow: -4px -4px 8px rgba(190, 190, 190, 0.5);
}


.home-top-background-section .carousel-item{
  height: 40rem;
  width: 100%;
}
.home-top-background-section img{
  filter: blur(6px);
  width:1351px;
}
.home-top-background-section .carousel-caption{
  right: 60%;
  text-shadow: 0 0 8px black;
}
.home-top-background-section .carousel-ineer-img{
  z-index: 2;
    position: absolute;
    width: 602px;
    filter: blur(0px);
    top: 9rem;
    left: 35rem;
    border: 2px solid rgba(0, 0, 0, 0.164);
    box-shadow: 0 10px 40px 2px rgba(0,0,0,0.4);
    transform: perspective(800px) rotateX(3deg) rotateY(-22deg) rotateZ(-1deg);
}
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators{
  display: none;


}
.home-future-row{
  width: 119%;
  padding: 4rem;
}
.navbar-header a{
  color: pink;
  text-decoration: none;
  margin-right: 17px;
  text-shadow: 0 0 6px  black,
               0 0 8px  black,
               0 0 2px  rgb(0, 0, 0) ;
  font-weight: 600;
}
.navbar-header a:hover{
  color: rgb(0, 0, 0);
  text-shadow: 0 0 4px rgb(255, 255, 255);
  font-weight: 600;
}

.home-qouts-section{
  padding: 10px;
}
.home-qouts-section .card{
  border: none;
  text-align: center;

}
.home-qouts-section .card-img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow:-3px -3px 4px 1px rgba(0, 0, 0, 0.479) ;
}
.home-qouts-section .card-title{
  font-family: var(--FF-Rubik);
}
.home-qouts-section .card-text{
  font-family: var(--FF-Uchen);
}

/* footer section */
.contianer-footer{
  margin-left: 5rem;
}
.footer{
  background-color: black;
  color: var(--first-color);
}
.footer .container{
  width: 100%;
  padding: 0;
}
.full-width{
  width: 100%;
  padding: 0px;
  margin-left: 60px;
}
.footer-title{
  font-size: var(--h2-font-size);
  font-weight: 700;
}
.break-line-footer{
  height: 1px;
  background-color: rgba(255, 255, 255, 0.041);
  width: 100%;
}

.footer-contact-list{
  list-style: none;
  margin-left: -2.5rem;
}
.footer-contact-list svg{
  margin-right: 10px;
}
.footer-contact-list-social {
  margin-left: -20px;
}
.footer-contact-list a{
  text-decoration: none;
  color: var(--first-color);
}
.footer-contact-list a:hover,
.footer-contact-list-social a:hover{
  color: var(--first-color-lighter);
}
.footer-contact-list-social li{
  display: inline;
  margin: 0 20px 0 30px;
}
.footer-contact-list-social a{
  text-decoration: none;
  color: var(--first-color);
}
.footer-contact-list-social a svg{
  font-size: 3.4rem;
}
.copy-right{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 45px;
}
.copy-right p{
  color: white;
}
.copy-right span{
  color: var(--first-color);
}
